.homeInner {
    display: grid;
    grid-gap: var(--main-grid-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pageContainer {
    /* height: 100vh; */
    width: var(--page-width);
    margin: 60px auto
}