.sliderContainer {
    display: grid;
    height: 100%;
    grid-template-rows: auto 60px;
    justify-items: center;
    align-items: center;
}

.arrows {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.disabled-slide {
    visibility: hidden;
}

.itemSliderImage {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 5px;
}