@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,800&display=swap');

:root {
  --color-green: #7AC143;
  --color-orange: #F47B20;
  --color-blue: #00AEEF;
  --color-purple: #EC008C;
  --color-gray: rgb(153, 153, 153);
  --letter-spacing: 1px;
  --page-width: 70%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
